@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
:root{
    --bg-color: #f0f0f0;
    --second-bg-color: #ffffff;
    --text-color: #333333;
    --main-color: #ff6600;


}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);

}
.header {
    position: fixed; /* typo fixed */
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    margin-left: 4rem;
    color: var(--text-color);

}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;

}
